#quiz{
    h2{
        text-align: center;
    }
    .quiz-list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .quiz-container{
            .quiz{
                background-color: #f7f7f7;
                border-radius: 30px;
                text-align: center;
                display: flex;
                flex-direction: column;
                width: 20rem;
                height: 10rem;
                padding: 1rem;
                margin: 1rem;

                h2{
                    text-decoration: none;
                    color: black;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}